.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.portfolio__item {
  margin: 15px;
  width: 370px;
  display: block;
}
.portfolio__img {
  display: block;
  align-items: center;
  background-color: var(--accent-color-text);

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }

  &:hover .thumb__text,
  &:focus .thumb__text {
    transform: translateZ(0);
    overflow: visible;
  }
}
.thumb__box {
  position: relative;
  overflow: hidden;
}
.thumb__text {
  position: absolute;
  overflow: hidden;
  background-color: rgba(33, 150, 243, 0.9);
  left: 0;
  top: 0;
  width: 370px;
  height: 294px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 63px 24px;

  font-style: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--accent-color-text);
  transform: translateY(101%);

  transition: transform 250ms var(--time);
}
.portfolio {
  padding: 94px 0;
}
.portfolio__title {
  color: var(--titles-text-color-first);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio__text {
  margin-top: 4px;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-element {
  width: calc((100%-60) / 3);

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.portfolio__name {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
