:root {
  --titles-text-color-first: #212121;
  --text-color: #757575;
  --accent-color-text: #ffffff;
  --accent-color: #2196f3;
  --accent-color-sec: #1a72b9;
  --background-color: #2f303a;
  --background-color-modal: #188ce8;
  --logo-color: #000000;
  --team-color: #f5f4fa;
  --header-color: #ececec;
  --portfolio-color: #e5e5e5;
  --clients-color: #afb1b8;
  --time: cubic-bezier(0.4, 0, 0.2, 1);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin: 0;
  list-style: none;
  padding-inline-start: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: Roboto, sans-serif;
  background-color: var(-accent-color-text);
  color: var(--titles-text-color-first);
  margin: 0; /* Чтобы снять авто-margin браузера*/
}
ul {
  list-style: none;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
